In [2]:
import joblib
import numpy as np
import pandas as pd

In [3]:
import sklearn
sklearn.__version__

'1.0.2'

In [4]:
import feature_engine
feature_engine.__version__

'1.5.2'

In [5]:
nb_model = joblib.load(open('default_pred.pkl', 'rb'))

In [10]:
#Membuat dataframe baru
df_inf= pd.DataFrame({
    'pay_0':[0],
    'pay_2':[2],
    'pay_3':[0],
    'pay_4':[1],
    'pay_5':[0],
    'pay_6':[0],
})

In [11]:
df_inf

   pay_0  pay_2  pay_3  pay_4  pay_5  pay_6
0      0      2      0      1      0      0

In [12]:
result = nb_model.predict(df_inf)
result

array([0])

In [13]:
# Result interpretation
if result[0] == 0:
    print('Not Default')
else:
    print('Default')

Not Default